<section class="about-us-section" id="about">
  <div class="container">
    <h2 class="about-title">Про нас</h2>

    <p class="about-text">
      У нашій солодкій майстерні ми створюємо неперевершені солодкі десерти, що
      приносять радість та задоволення. Наша місія — перетворити кондитерські
      десерти на подарунок у світі смаку, краси та естетики.
    </p>

    <div class="about-slider">
      <button class="slider-btn prev" type="button">
        <svg class="" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow_back"></use>
        </svg>
      </button>
      <div class="slider-window">
        <ul class="slider-track">
          <li class="slide_active">
            <img
              srcset="
                /img/about-us-section/baking1.jpg 1x,
                /img/about-us-section/baking.jpg  2x
              "
              src="/img/about-us-section/baking.jpg"
              alt="Baker filling cream puffs"
              class="slide img"
              width="644"
              height="478"
              loading="lazy"
            />
          </li>
          <li class="slide_active">
            <img
              srcset="
                /img/about-us-section/planning1.jpg 1x,
                /img/about-us-section/planning.jpg  2x
              "
              src="/img/about-us-section/planning1.jpg"
              alt="Chefs reviewing the menu"
              class="slide img"
              width="644"
              height="478"
              loading="lazy"
            />
          </li>
          <li class="slide_active">
            <img
              srcset="
                /img/about-us-section/showcase1.jpg 1x,
                /img/about-us-section/showcase.jpg  2x
              "
              src="/img/about-us-section/showcase1.jpg"
              alt="Bakery display counter"
              class="slide img"
              width="644"
              height="478"
              loading="lazy"
            />
          </li>
          <li class="slide_active">
            <img
              srcset="
                /img/about-us-section/smile1.jpg 1x,
                /img/about-us-section/smile.jpg  2x
              "
              src="/img/about-us-section/smile1.jpg"
              alt="Woman eating cake"
              class="slide img"
              width="644"
              height="478"
              loading="lazy"
            />
          </li>
        </ul>
        >
      </div>
      <button class="slider-btn next" type="button">
        <svg class="" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>

    <ul class="slider-dots">
      <li class="dot_active"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
    </ul>
  </div>
</section>
