<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project</title>
    <link rel="stylesheet" href="src/style.css" />
  </head>
  <body>
    <section class="desserts">
      <div class="container">
        <div class="desserts-top">
          <div class="desserts-heading">
            <h2 class="desserts-title">Солодощі</h2>
            <p class="desserts-subtitle">
              Спробуйте наші смачні десерти, які вас здивують!
            </p>
          </div>

          <div class="desserts-select-wrapper">
            <button
              class="desserts-select-trigger"
              type="button"
              aria-expanded="false"
              aria-controls="desserts-filter-list"
            >
              <span class="desserts-select-value">Всі десерти</span>

              <svg class="desserts-select-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-keyboard_arrow_down"></use>
              </svg>
            </button>
            <div class="desserts-filter-wrapper">
              <div class="loader is-hidden" data-categories-loader></div>
              <ul class="desserts-filter" id="desserts-filter-list"></ul>
            </div>
          </div>
        </div>
        <ul class="desserts-list"></ul>
        <div class="loader is-hidden" data-list-loader></div>
        <button class="desserts-load-more" type="button">Завантажити ще</button>
      </div>
    </section>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
