<section class="review" id="reviews">
  <div class="container review-container">
    <h2 class="review-title">Відгуки клієнтів</h2>
    <p class="review-subtitle">Найкращі десерти, які я коли-небудь куштував!</p>

    <div class="review-slider-wrapper">
      <div class="swiper review-swiper">
        <ul class="swiper-wrapper review-list"></ul>
      </div>

      <button class="review-btn prev" type="button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>

      <button class="review-btn next" type="button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="review-controls">
      <div class="swiper-pagination review-pagination"></div>

      <button class="review-btn prev" type="button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>

      <button class="review-btn next" type="button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
