<footer class="footer-inner">
  <div class="container footer-container">
    <a class="footer-logo" href="./index.html">
      <svg width="99" height="63">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
      <svg width="191" height="64">
        <use href="/img/sprite.svg#icon-workshop"></use>
      </svg>
    </a>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#cakes">Солодощі</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#about">Про нас</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#reviews">Відгуки</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#faq">Часті питання</a>
        </li>
      </ul>
    </nav>

    <ul class="footer-social-list">
      <li>
        <a class="footer-social-link" href="https://www.facebook.com/">
          <svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-Facebook"></use>
            =======
            <use href="/img/sprite.svg#icon-Facebook"></use>
            >>>>>>> main
          </svg>
        </a>
      </li>

      <li>
        <a class="footer-social-link" href="https://www.instagram.com/">
          <svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-Instagram"></use>
            =======
            <use href="/img/sprite.svg#icon-Instagram"></use>
            >>>>>>> main
          </svg>
        </a>
      </li>

      <li>
        <a class="footer-social-link" href="https://www.youtube.com/">
          <svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-Youtube"></use>
            =======
            <use href="/img/sprite.svg#icon-Youtube"></use>
            >>>>>>> main
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer-line"></div>

    <p class="footer-copy">© 2026 Солодка Майстерня. Усі права захищені.</p>
  </div>
</footer>
