<header class="header">
    <div class="container header-container">
        <div class="header-logo-nav">
            <a href="index.html"
               class="logo-link"
               aria-label="Головна сторінка Солодка Майстерня"
            >
               <svg class="header-logo-icon" width="158" height="72">
                    <use href="/img/webp/logo.svg#icon-logo"></use>
               </svg>
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="#sweets" class="header-nav-link">Солодощі</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#about-us" class="header-nav-link">Про нас</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#feedbacks" class="header-nav-link">Відгуки</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#faq" class="header-nav-link">Часті запитання</a>
                    </li>
                </ul>
                <a class="order-btn" href="#sweets">До покупок</a>
            </nav>
        </div>

        <button
          type="button"
          class="open-burger-btn"
          aria-label="Відкрити навігаційне меню"
        >
          <svg class="open-burger-btn" width="24" height="24">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
    </div>
</header>