<header class="header">
  <div class="container header-container">
    <div class="header-logo-nav">
      <a
        href="index.html"
        class="logo-link"
        aria-label="Головна сторінка Солодка Майстерня"
      >
        <svg width="48" height="31">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
        <svg width="93" height="31">
          <use href="/img/sprite.svg#icon-workshop"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#cakes" class="header-nav-link">Солодощі</a>
          </li>
          <li class="header-nav-item">
            <a href="#about" class="header-nav-link">Про нас</a>
          </li>
          <li class="header-nav-item">
            <a href="#reviews" class="header-nav-link">Відгуки</a>
          </li>
          <li class="header-nav-item">
            <a href="#faq" class="header-nav-link">Часті запитання</a>
          </li>
        </ul>
        <a class="order-btn" href="#cakes">До покупок</a>
      </nav>
    </div>

    <button
      type="button"
      class="open-burger-btn"
      aria-label="Відкрити навігаційне меню"
    >
      <svg class="open-burger-btn" width="24" height="24" data-open-menu>
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>

      <svg
        class="close-burger-btn hidden"
        width="24"
        height="24"
        data-close-menu
      >
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
